@import url("https://use.typekit.net/dpu8prn.css");
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 120%;
    background: white;
}
.header {
    width: 30.05%;
    margin: 50px auto 0px;
    color: white;
    background: #2D3436;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}
.headertabel{
    width: 77%;
    margin: 50px auto 0px;
    color: white;
    background: #2D3436;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}
form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #2D3436;
    background: #2D3436;
    border-radius: 0px 0px 10px 10px;
    color: white;
}
.tabelletje{
    width: 80%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #2D3436;
    background: #2D3436;
    border-radius: 0px 0px 10px 10px;
    color: white;
}
tbody tr:nth-child(odd) {
    background-color: white;
    color:black;
}
.input-group {
    margin: 10px 0px 10px 0px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: rgb(242,196,170);
    background: -moz-linear-gradient(94deg, rgba(242,196,170,1) 0%, rgba(179,185,181,1) 67%);
    background: -webkit-linear-gradient(94deg, rgba(242,196,170,1) 0%, rgba(179,185,181,1) 67%);
    background: linear-gradient(94deg, rgba(242,196,170,1) 0%, rgba(179,185,181,1) 67%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2c4aa",endColorstr="#b3b9b5",GradientType=1);
    border: none;
    border-radius: 5px;
}
.btn1{
    padding: 10px;
    font-size: 15px;
    color: white;
    background: rgb(242,196,170);
    background: -moz-linear-gradient(94deg, rgba(242,196,170,1) 0%, rgba(179,185,181,1) 67%);
    background: -webkit-linear-gradient(94deg, rgba(242,196,170,1) 0%, rgba(179,185,181,1) 67%);
    background: linear-gradient(94deg, rgba(242,196,170,1) 0%, rgba(179,185,181,1) 67%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2c4aa",endColorstr="#b3b9b5",GradientType=1);
    border: none;
    border-radius: 5px;
    margin-left: 135px;
}
.btn2{
    padding: 10px;
    font-size: 15px;
    color: white;
    background: rgb(242,196,170);
    background: -moz-linear-gradient(94deg, rgba(242,196,170,1) 0%, rgba(179,185,181,1) 67%);
    background: -webkit-linear-gradient(94deg, rgba(242,196,170,1) 0%, rgba(179,185,181,1) 67%);
    background: linear-gradient(94deg, rgba(242,196,170,1) 0%, rgba(179,185,181,1) 67%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2c4aa",endColorstr="#b3b9b5",GradientType=1);
    border: none;
    border-radius: 5px;
    margin-left: 457px;
}
.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}
.success {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}
.linkje{
    color: white;
}
.roodlinkje {
    color: red;
}
.editlinkje{
    color:green;
}
.linkjehier{
    color: black;

.letop{
    text-align: center;
}